rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{groupId} {
      allow read, write: if request.auth != null && request.auth.token.name == groupId;
      
      match /inventory/{itemId} {
        allow read, write: if request.auth != null && request.auth.token.name == groupId;
      }
    }
  }
}